In [3]:
n=int(input("Enter the size of n"))
for i in range(n):
    for j in range(i):
        print('^',end=' ')
    print()

Enter the size of n 5

^
^ ^
^ ^ ^
^ ^ ^ ^

In [5]:
for i in range(5):
    print("*" *i)

*
**
***
****

In [13]:
for i in range(5):
    print(i*2)

0
2
4
6
8

In [25]:
n=int(input("Enter the size of n"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 :
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

Enter the size of n 5

* * * * *
*       *
*       *
*       *
* * * * *

In [47]:
text='Vijayawada'
r=len(text)
for i in range(r):
    for j in range(i+1):
        print(text[j],end=' ')
    print()

V
V i
V i j
V i j a
V i j a y
V i j a y a
V i j a y a w
V i j a y a w a
V i j a y a w a d
V i j a y a w a d a

In [35]:
n=int(input("Enter the size of n"))
for i in range(n):
    for j in range(n):
        if j==0 or j==n-1 or i==j or i+j==n-1 :
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

Enter the size of n 6

*         *
* *     * *
*   * *   *
*   * *   *
* *     * *
*         *

In [31]:
n=int(input())
for i in range(n):
    for j in range(n-i):
        print("*",end=' ')
    print()

 5

* * * * *
* * * *
* * *
* *
*

In [43]:
n=5
for i in range(1,2*n):
    s= i if i<=n else 2*n-i
    for j in range(s):
        print("*",end='-->')
    print()

*-->
*-->*-->
*-->*-->*-->
*-->*-->*-->*-->
*-->*-->*-->*-->*-->
*-->*-->*-->*-->
*-->*-->*-->
*-->*-->
*-->

In [3]:
n=5
for i in range(n):
    for s in range(n-i-1):
        print(' ',end=' ')
    num=1
    for j in range(i+1):
        print(f"{num}  ",end=' ')
        num= num*(i-j)//(j+1)
    print()

        1
      1   1
    1   2   1
  1   3   3   1
1   4   6   4   1

In [30]:
n=25
for i in range(n):
    for j in range(i):
        print(n+1,end=' ')
    print()

26
26 26
26 26 26
26 26 26 26
26 26 26 26 26
26 26 26 26 26 26
26 26 26 26 26 26 26
26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26

In [38]:
r=8
n=1
for i in range(1,n+1):
    for j in range(i):
        print(n, end=' ')
        n+=1
    print()

1